<!DOCTYPE html>
<html ng-app="lcRegistration">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>LC Registration</title>
    <link rel="stylesheet" href="{{ asset('build/content/all.min.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('client/styles/ie.css') }}" />

</head>
<body ng-view>
<script src="{{ asset('build/vendor.min.js') }}"></script>
<script src="{{ asset('build/all.min.js') }}"></script>
</body>
</html>
